{% load i18n menu_tags staticfiles %}
{% get_available_languages as languages %}
{% get_language_info for LANGUAGE_CODE as lang %}

{#<a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"#}
{#   aria-expanded="false">{{ lang.name_local }}#}
{#    <img src="{% static "img/svg/arrow-down.svg" %}" alt="">#}
{#</a>#}
{##}
{#<ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#    {% for language in languages %}#}
{#        <a href="{% page_language_url language.0 %}" class="selected-item">#}
{#            <li class="dropdown-item {% ifequal current_language language.0 %}selected-item{% endifequal %}">#}
{#                {{ language.0|language_name_local|capfirst }}#}
{#            </li>#}
{#        </a>#}
{#    {% endfor %}#}
{#</ul>#}


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dd-lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ lang.name_local }}
    </a>
    <div class="dropdown-menu" aria-labelledby="dd-lang">
        {% for language in languages %}
        <a class="dropdown-item" href="{% page_language_url language.0 %}">{{ language.0|language_name_local|capfirst }}</a>
        {% endfor %}
    </div>
</li>
