{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-ticket</title>
    <link rel="stylesheet" href="../../static/styles/pdf_styles.css">
    <link rel="stylesheet" href="../../static/styles/pdf_styles.css">
</head>
<body>
<!--{{ data }}-->
<div class="wrapper">
    <div class="aside">
        <div class="text text-1">
            <p>ELEKTRON RO`YXATDAN O`TGANLIKNI TEKSHIRISH KODI</p>
            <p>КОД СВЕРКИ ЭЛЕКТРОННОЙ РЕГИСТРАЦИИ</p>
            <p>ELECTRONIC REGISTRATION VERIFICATION CODE</p>
        </div>
        <div class="code-1 code"></div>
        <div class="text text-2">
            <p>ELEKTRON RO`YXATDAN O`TGANLIKNI TEKSHIRISH KODI</p>
            <p>КОД СВЕРКИ ЭЛЕКТРОННОЙ РЕГИСТРАЦИИ</p>
            <p>ELECTRONIC REGISTRATION VERIFICATION CODE</p>
        </div>
        <div class="code code-2"></div>
    </div>
    <div class="main">
        <div class="logo">
            <div class="img"><img src="../../static/styles/pdf_images/icon-uti.svg" alt=""></div>
            <div class="text-logo">
                <p class="">АКЦИОНЕРНОЕ ОБЩЕСТВО</p>
                <p class="bold">O`ZBEKISTON TEMIR YO`LLARI</p>
            </div>
        </div>
        <div class="header">
            <div class="left">
                <ul class="simple line-height-1">
                    <li>Elektron yo`l hujjati:</li>
                    <li>Электронный проездной документ:</li>
                    <li>E-Ticket:</li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li class="norm mb-1 real">ASLI / ОРИГИНАЛ / ORIGINAL</li>
                    <li class="big bold">№ {{ data.exspOrderID }}<!--71295103156284--></li>
                </ul>
            </div>

        </div>
        <div class="bottom-header">
            <div class="left">
                <ul class="simple line-height-1">
                    <li>Elektron buyurtma / Электронный заказ / Electronic order:</li>
                    <li>Rasmiylashtirish sanasi va vaqti / Дата и время оформления / Created Date and time:</li>
                </ul>
            </div>
            <div class="right">
                <ul class="simple line-height-1">
                    <li>№ {{ data.responseBuyTicket.tickets.ticket.0.expressID }}</li>
                    <li>
                        {{ data.createTime.2 }}.{{ data.createTime.1 }}.{{ data.createTime.0 }} {{ data.createTime.3 }}:{{ data.createTime.4 }}
                    </li>
                </ul>
            </div>
        </div>
        <table class="table-1">
            <tr class="back-grey">
                <th>JO`NASH POYEZDI:
                    ПОЕЗД ОТПРАВЛЕНИЯ:
                    DEPARTURE TRAIN:
                </th>
                <th>YO`NALISH MARSHRUTI:
                    МАРШРУТ СЛЕДОВАНИЯ:
                    ROUTE:
                </th>
                <th>JO`NASH:
                    ОТПРАВЛЕНИЕ:
                    DEPARTURE:
                </th>
                <th>YETIB KELISH:
                    ПРИБЫТИЕ:
                    ARRIVAL:
                </th>
                <th>YETIB KELISH POYEZDI:
                    ПОЕЗД ПРИБЫТИЯ:
                    ARRIVAL TRAIN:
                </th>
            </tr>
            <tr>
                <td>762ФА</td>
                <td>ТАШКЕНТ ПАСС ЦЕНТР. БУХАРА 1</td>
                <td><span>ВТ 19.02.2019</span>
                    07:30
                </td>
                <td><span>ВТ 19.02.2019</span>
                    11:19
                </td>
                <td>762Ф</td>
            </tr>
        </table>
        <table class="table-2">
            <tr class="back-grey">
                <th>VAGON / ВАГОН / CAR:</th>
                <th>O`RINDIQ / МЕСТО / SEAT:</th>
                <th>XIZMAT KLASSI / КЛАСС ОБСЛУЖИВАНИЯ / SERVICE CLASS:</th>
                <th>TARIF TURI / ТИП ТАРИФА / TARIFF TYPE:</th>
            </tr>
            <tr>
                <td>04 СИД</td>
                <td>031</td>
                <td>2Е</td>
                <td>ПОЛНЫЙ</td>
            </tr>
        </table>
        <div class="passenger-num back-grey">YO`LOVCHILAR SONI / КОЛ-ВО ПАССАЖИРОВ / КОЛ-ВО ПАССАЖИРОВ: <span
                class="bold">2</span></div>
        <table class="table-3">
            <tr class="back-grey">
                <th class="text-left">YO`LOVCHI F.I.SH / Ф.И.О. ПАССАЖИРА / FULL NAME OF PASSENGER:</th>
                <th>HUJJAT / ДОКУМЕНТ / DOCUMENT</th>

            </tr>
            <tr>
                <td class="text-left">ASADULLYEV MIRHAKIM BAXSHILLAYEVICH</td>
                <td>ПУ – AA6549872</td>
            </tr>
            <tr>
                <td class="text-left">ASADULLYEV MIRONSHOH MIRHAKIMOVICH</td>
                <td>СР – ITN3216547</td>
            </tr>
        </table>
        <div class="options">
            <div class="left">
                <div class="bold">
                    <p>Qo`shimcha ma`lumotlar</p>
                    <p>Дополнительная информация:</p>
                    <p>Additional Information:</p>
                </div>
                <div class="italic mt-1">
                    <p>Jo`nash va yetib borish mahalliy vaqtda</p>
                    <p>Время отправления и прибытия местное</p>
                    <p>Departure and arrival time is local</p>
                </div>
                <div class="carrier bold">
                    <p>Tashuvchi / Перевозчик / Carrier: <span>УТИ</span></p>
                </div>
                <div class="carrier bold">
                    <p>Vagon egasi / Принадлежность вагона / Car ownership: <span>УТИ</span></p>
                </div>
                <div class="bold">
                    <p>Elektron ro`yxatdan o`tishni bekor qilishning tugashi</p>
                    <p>ДОтмена электронной регистрации возможна до:</p>
                    <p>Cancellation of electronic registration is available until:</p>
                </div>
                <span>19.02.2019 06:28</span>
            </div>
            <div class="right">
                <div class="service">TARIF / ТАРИФ / TARIFF: <span>163 000.00 сум</span></div>
                <div class="service">XIZMAT / СЕРВИС / SERVICE: <span>14 400.00 сум</span></div>
                <div class="service">YIG`IMLAR / СБОРЫ / FEES: <span>10 000.00 сум</span></div>
                <div class="service bold m-1">UMUMIY NAXI / ОБЩАЯ СТОИМОСТЬ / TOTAL PRICE: <span>173 000.00 сум</span>
                </div>
                <div class="simple">
                    <p>To`lov tizimidan foydalanganlik uchun alohida foiz:</p>
                    <p>Отдельно комиссия за пользование платежной системой: <span>CLICK 2%:</span></p>
                    <p>Additional commission for using the payment system: <span>3 460,00 сум</span></p>
                </div>
                <div class="sub-option">
                    <p class="sum-txt">JAMI TO`LOV / ВСЕГО К ОПЛАТЕ / TOTAL PAYMENT</p>
                    <p class="sum bold">176 460.00 сум</p>
                    <p>TO`LOV SHAKLI / ФОРМА ОПЛАТЫ / PAYMENT TYPE:</p>
                    <p>Bank kartasi / Банковская карта / Bank card</p>
                </div>
            </div>
        </div>
    </div>

    <!--        second part of ticket-->
    <div class="main">
        <div class="logo-2">
            <div class="img"><img src="../../static/styles/pdf_images/icon-uti.svg" alt=""></div>
            <div class="text-logo">
                <p class="">АКЦИОНЕРНОЕ ОБЩЕСТВО</p>
                <p class="bold">O`ZBEKISTON TEMIR YO`LLARI</p>
            </div>
        </div>
        <div class="header-2">
            <div class="left">
                <ul class="simple line-height-1">
                    <li>Elektron yo`l hujjati:</li>
                    <li>Электронный проездной документ:</li>
                    <li>E-Ticket:</li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li class="norm mb-1 real">ASLI / ОРИГИНАЛ / ORIGINAL</li>
                    <li class="big bold">№ 71295103156284</li>
                </ul>
            </div>

        </div>
        <div class="bottom-header-2">
            <div class="left">
                <ul class="simple line-height-1">
                    <li>Elektron buyurtma / Электронный заказ / Electronic order:</li>
                    <li>Rasmiylashtirish sanasi va vaqti / Дата и время оформления / Created Date and time:</li>
                </ul>
            </div>
            <div class="right">
                <ul class="simple line-height-1">
                    <li>№ 71259587459031</li>
                    <li>
                        {{ data.createTime.2 }}.{{ data.createTime.1 }}.{{ data.createTime.0 }} {{ data.createTime.3 }}:{{ data.createTime.4 }}
                    </li>
                </ul>
            </div>
        </div>
        <table class="table-12">
            <tr class="back-grey">
                <th>JO`NASH POYEZDI:
                    ПОЕЗД ОТПРАВЛЕНИЯ:
                    DEPARTURE TRAIN:
                </th>
                <th>YO`NALISH MARSHRUTI:
                    МАРШРУТ СЛЕДОВАНИЯ:
                    ROUTE:
                </th>
                <th>JO`NASH:
                    ОТПРАВЛЕНИЕ:
                    DEPARTURE:
                </th>
                <th>YETIB KELISH:
                    ПРИБЫТИЕ:
                    ARRIVAL:
                </th>
                <th>YETIB KELISH POYEZDI:
                    ПОЕЗД ПРИБЫТИЯ:
                    ARRIVAL TRAIN:
                </th>
            </tr>
            <tr>
                <td>762ФА</td>
                <td>ТАШКЕНТ ПАСС ЦЕНТР. БУХАРА 1</td>
                <td><span>ВТ 19.02.2019</span>
                    07:30
                </td>
                <td><span>ВТ 19.02.2019</span>
                    11:19
                </td>
                <td>762Ф</td>
            </tr>
        </table>
        <table class="table-22">
            <tr class="back-grey">
                <th>VAGON / ВАГОН / CAR:</th>
                <th>O`RINDIQ / МЕСТО / SEAT:</th>
                <th>XIZMAT KLASSI / КЛАСС ОБСЛУЖИВАНИЯ / SERVICE CLASS:</th>
                <th>TARIF TURI / ТИП ТАРИФА / TARIFF TYPE:</th>
            </tr>
            <tr>
                <td>04 СИД</td>
                <td>031</td>
                <td>2Е</td>
                <td>ПОЛНЫЙ</td>
            </tr>
        </table>
        <div class="passenger-num-2 back-grey">YO`LOVCHILAR SONI / КОЛ-ВО ПАССАЖИРОВ / КОЛ-ВО ПАССАЖИРОВ: <span
                class="bold">2</span></div>
        <table class="table-32">
            <tr class="back-grey">
                <th class="text-left">YO`LOVCHI F.I.SH / Ф.И.О. ПАССАЖИРА / FULL NAME OF PASSENGER:</th>
                <th>HUJJAT / ДОКУМЕНТ / DOCUMENT</th>

            </tr>
            <tr>
                <td class="text-left">ASADULLYEV MIRHAKIM BAXSHILLAYEVICH</td>
                <td>ПУ – AA6549872</td>
            </tr>
            <tr>
                <td class="text-left">ASADULLYEV MIRONSHOH MIRHAKIMOVICH</td>
                <td>СР – ITN3216547</td>
            </tr>
        </table>
        <div class="options-2">
            <div class="left">
                <div class="bold">
                    <p>Qo`shimcha ma`lumotlar</p>
                    <p>Дополнительная информация:</p>
                    <p>Additional Information:</p>
                </div>
                <div class="italic mt-1">
                    <p>Jo`nash va yetib borish mahalliy vaqtda</p>
                    <p>Время отправления и прибытия местное</p>
                    <p>Departure and arrival time is local</p>
                </div>
                <div class="carrier bold">
                    <p>Tashuvchi / Перевозчик / Carrier: <span>УТИ</span></p>
                </div>
                <div class="carrier bold">
                    <p>Vagon egasi / Принадлежность вагона / Car ownership: <span>УТИ</span></p>
                </div>
                <div class="bold">
                    <p>Elektron ro`yxatdan o`tishni bekor qilishning tugashi</p>
                    <p>ДОтмена электронной регистрации возможна до:</p>
                    <p>Cancellation of electronic registration is available until:</p>
                </div>
                <span>19.02.2019 06:28</span>
            </div>
            <div class="right">
                <div class="service">TARIF / ТАРИФ / TARIFF: <span>163 000.00 сум</span></div>
                <div class="service">XIZMAT / СЕРВИС / SERVICE: <span>14 400.00 сум</span></div>
                <div class="service">YIG`IMLAR / СБОРЫ / FEES: <span>10 000.00 сум</span></div>
                <div class="service bold m-1">UMUMIY NAXI / ОБЩАЯ СТОИМОСТЬ / TOTAL PRICE: <span>173 000.00 сум</span>
                </div>
                <div class="simple">
                    <p>To`lov tizimidan foydalanganlik uchun alohida foiz:</p>
                    <p>Отдельно комиссия за пользование платежной системой: <span>CLICK 2%:</span></p>
                    <p>Additional commission for using the payment system: <span>3 460,00 сум</span></p>
                </div>
                <div class="sub-option">
                    <p class="sum-txt">JAMI TO`LOV / ВСЕГО К ОПЛАТЕ / TOTAL PAYMENT</p>
                    <p class="sum bold">176 460.00 сум</p>
                    <p>TO`LOV SHAKLI / ФОРМА ОПЛАТЫ / PAYMENT TYPE:</p>
                    <p>Bank kartasi / Банковская карта / Bank card</p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
